.contact-container {
  padding: 20px;
  text-align: center;
  margin-bottom: 70px;
}

.contact-content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 45px;
}

.contact-logo img {
  max-width: 600px; 
  max-height: 450px;
  margin-right: 20px;
  margin-bottom: 275px;
}

.contact-text {
  max-width: 600px; 
  text-align: left;
}

.contact-text h1 {
  color: #394865;
}
.contact-container p {
  font-size: 1.2em;
  line-height: 1.6;
}

.contactForm {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
width: 35rem;
}

.name, .email, .msg {
font-size: medium;
width: 35rem;
max-width: 40rem;
margin: 0.5rem;
padding: 0.5rem 1rem;
color: white; 
border: none;
border-radius: 0.5rem;
background: #394865;
height: 3rem; 
}

.msg {
height: auto; 
}

.home-buttons .btn:hover {
background-color: #0056b3;
color: white;
}
