.home-container {
    padding: 20px;
    text-align: center;
  }
  
  .home-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
  }
  
  .home-logo img {
    max-width: 400px; 
    max-height: 400px;
    margin-right: 20px;
    margin-bottom: 40px;
  }
  
  .home-text {
    max-width: 600px; 
    text-align: left;
  }

  .home-text h1 {
    color: #394865;
  }

  .home-text h4 {
    color: #394865;
  }
  
  .home-container p {
    font-size: 1.2em;
    line-height: 1.6;
    margin-bottom: 40px;
  }
  
  .featured-recipes {
    margin-top: 40px;
  }
  
  .featured-recipes h2 {
    margin-bottom: 20px;
  }
  
  .recipe-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  
  .recipe-card {
    background-color: #e9ecef;
    padding: 20px;
    border-radius: 10px;
  }
  
  .recipe-image img {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }
  