.home-container {
    padding: 20px;
    text-align: center;
  }
  
  .home-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
  }
  
  .home-logo img {
    max-width: 400px; 
    max-height: 400px;
    margin-right: 20px;
    margin-bottom: 40px;
  }
  
  .home-text {
    max-width: 600px; 
    text-align: left;
  }

  .home-text h1 {
    color: #394865;
  }

  .home-text h4 {
    color: #394865;
  }
  
  .home-container p {
    font-size: 1.2em;
    line-height: 1.6;
    margin-bottom: 40px;
  }
  
  .home-buttons {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
  }

  .btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    text-decoration: none;
    color: white;
  }
  
  .btn-primary {
    background-color: #78A2CE;
  }

  .home-buttons .btn:hover {
    background-color: #0056b3;
    color: white;
  }
  .featured-recipes {
    margin-top: 40px;
    margin-bottom: 100px;
  }
  
  .featured-recipes h2 {
    margin-bottom: 20px;
  }
  
  .recipe-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
  }
  
  .recipe-card {
    text-align: center;
  }
  
  .recipe-card img {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }

  .recipe-card:hover {
    transform: scale(1.05);
  }
  
  .recipe-card p {
    margin-top: 10px;
    font-size: 1.2em;
    color: #333;
  }